Repository GhostLyrics/crafting_calculator: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, yamllint

black:
  entry: black
  language: system
  name: Blacken Python code
  require_serial: true

pylint:
  entry: pylint
  language: system
  name: Check Python issues using Pylint

yamllint:
  args:
  - --strict
  entry: yamllint
  language: system
  name: Check YAML syntax

load recipes recursively
  crafting_calculator.py
  recipes/yonder/carpenter/novice.yml
  recipes/yonder/chef/novice.yml
  recipes/yonder/constructor/novice.yml
  recipes/yonder/meta.yml
  recipes/yonder/tinker/novice.yml
Due: black, pylint, yamllint

add new dev dependencies
  poetry.lock
  pyproject.toml
Due: none

added more Yonder recipes
  recipes/yonder/brewer/novice.yml
  recipes/yonder/brewer/quests.yml
  recipes/yonder/meta.yml
  recipes/yonder/tailor/novice.yml
  recipes/yonder/tailor/quests.yml
  recipes/yonder/wayfarer/quests.yml
Due: yamllint

added more yonder recipes
  recipes/yonder/constructor/master.yml
  recipes/yonder/wayfarer/base.yml
  recipes/yonder/wayfarer/quests.yml
Due: yamllint

Add PySimpleGUI wrapper and some recipes for SW Chronicles Processing tree.
  Readme.markdown
  crafting_calculator_gui.py
  poetry.lock
  recipes/swchronicles/Processing/Gem I.yml
  recipes/swchronicles/Processing/Gem II.yml
  recipes/swchronicles/Processing/Gem III.yml
  recipes/swchronicles/Processing/Gem IV.yml
  recipes/swchronicles/Processing/Handwork Crafting Tool.yml
  recipes/swchronicles/Processing/Lumber.yml
  recipes/swchronicles/Processing/Metal I.yml
  recipes/swchronicles/Processing/Metal II.yml
  recipes/swchronicles/Processing/Metal III.yml
  recipes/swchronicles/Processing/Props for Sale.yml
  recipes/swchronicles/Processing/String.yml
  recipes/swchronicles/meta.yml
Due: black, pylint, yamllint

Add GUI image and update Readme
  Readme.markdown
  images/gui.png
Due: none

Update Readme.markdown
  Readme.markdown
Due: none

Remove unnecessary line
  crafting_calculator_gui.py
Due: black, pylint

SW Chronicles - Add recipes for other professions - Add costings
  crafting/common.py
  crafting/shoppinglist.py
  crafting_calculator.py
  crafting_calculator_gui.py
  recipes/swchronicles/Alchemy/Attack Spell Book.yml
  recipes/swchronicles/Alchemy/Blue Handwork Gem.yml
  recipes/swchronicles/Alchemy/Defense Spell Book.yml
  recipes/swchronicles/Alchemy/Galaxy Stone.yml
  recipes/swchronicles/Alchemy/Green Handwork Gem.yml
  recipes/swchronicles/Alchemy/Moon Stone.yml
  recipes/swchronicles/Alchemy/Red Handwork Gem.yml
  recipes/swchronicles/Alchemy/Sun Stone.yml
  recipes/swchronicles/Alchemy/Utility Spell Book.yml
  recipes/swchronicles/Cooking/Cooking.yml
  recipes/swchronicles/Processing/Gem I.yml
  recipes/swchronicles/Processing/Gem II.yml
  recipes/swchronicles/Processing/Gem III.yml
  recipes/swchronicles/Processing/Gem IV.yml
  recipes/swchronicles/Processing/Handwork Crafting Tool.yml
  recipes/swchronicles/Processing/Lumber.yml
  recipes/swchronicles/Processing/Magic Crafting Tool.yml
  recipes/swchronicles/Processing/Metal I.yml
  recipes/swchronicles/Processing/Metal II.yml
  recipes/swchronicles/Processing/Metal III.yml
  recipes/swchronicles/Processing/Outfit Material.yml
  recipes/swchronicles/Processing/Potion Crafting Tool.yml
  recipes/swchronicles/Processing/Props for Sale.yml
  recipes/swchronicles/Processing/String.yml
Due: black, pylint, yamllint

Add some test gui py files while I decide which frontend route I want to go
  .gitignore
  crafting/common.py
  crafting/shoppinglist.py
  crafting_calculator.py
  crafting_calculator_gui.py
  recipes/swchronicles/Alchemy/Attack Spell Book.yml
  recipes/swchronicles/Alchemy/Blue Handwork Gem.yml
  recipes/swchronicles/Alchemy/Defense Spell Book.yml
  recipes/swchronicles/Alchemy/Galaxy Stone.yml
  recipes/swchronicles/Alchemy/Green Handwork Gem.yml
  recipes/swchronicles/Alchemy/Moon Stone.yml
  recipes/swchronicles/Alchemy/Red Handwork Gem.yml
  recipes/swchronicles/Alchemy/Sun Stone.yml
  recipes/swchronicles/Alchemy/Utility Spell Book.yml
  recipes/swchronicles/Cooking/Cooking.yml
  recipes/swchronicles/Processing/Gem I.yml
  recipes/swchronicles/Processing/Gem II.yml
  recipes/swchronicles/Processing/Gem III.yml
  recipes/swchronicles/Processing/Handwork Crafting Tool.yml
  recipes/swchronicles/Processing/Metal III.yml
  recipes/swchronicles/Processing/Outfit Material.yml
  recipes/swchronicles/Processing/Potion Crafting Tool.yml
  recipes/swchronicles/Processing/Props for Sale.yml
  recipes/swchronicles/Processing/String.yml
  templates/swchronicles.html
  templates/yonder.html
  test_gui.py
  test_gui2.py
  test_gui3.py
  test_gui4.py
  test_gui5.py
  test_gui6.py
  test_gui7.py
  test_gui8.py
  test_gui9_flask.py
  test_gui_tkinter.py
Due: black, pylint, yamllint

Path conditions:
  black: any of: \.py$
  pylint: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
